.name {
  font-size: 28px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}

.header {
  background-color: #0099FF;
  padding: 15px;
}

.main {
  margin: 15px;
}

.main .title {
  font-size: 20px;
  padding-left: 5px;
  font-weight: bold;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.post {
  margin: 5px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

.post .title {
  font-size: 16px;
  font-weight: 500;
}


.post .content {
  color: #333;
  padding: 10px 8px;
}

.post .footer {
  font-size: 14px;
  font-weight: bold;
}

.ButtonLer {
  text-decoration: none;
  color: #fff;
  background: #0099ff;
  margin: 5px;
  padding: 10px;
}

@media (max-width: 720px) {
  .post {
    grid-template-columns: 1fr;
  }
}